body{
    height:3750px;
    width: 1200px;
}
#first{
    height: 537px;
    width: 1200px;
    background-color: #2D25A0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 156px;
    padding-top:42px;
    margin-right:124px ;
}
#nav-left a{
    color: white;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-style{
    background-color: #E02C6D;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
#nav-second{
    display: flex;
}
#nav-down{
    height: 230px;
    width: 485px;
    margin-left: 165px;
    margin-top: 70px;
    float: left;
}
#nav-down h1{
    font-size: 64px;
    color: white;
    margin-bottom:15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.btn-2{
    background-color: #E02C6D;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 30px;
    color: white;
    margin-bottom: 0;
}
#nav-image img{
    height: 350px;
    width: 450px;
    float: left;
    margin-left: 50px;
    margin-top: 70px;

}
#second{
    width: 950px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 70px;

}
#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:25px;

}
.items{
    height: 444px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.items img{
    height:226px;
    width:270px ;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.details{
    width: 270px;
    height: 124px;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 33px;
}
.details h2{
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;

}
.details p{
    color: #6C6C6C;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;

}
#third{
    display: flex;
}
#forth-left{
    height: 309px ;
    width: 466px;
    margin-left: 125px;
    margin-top: 224px;
    float: left;
}
#forth-left h1{
    font-size: 48px;
    color: black;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
#forth-left p{
    color: #6C6C6C;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
#forth-right {
    margin-left:60px;
    float: left;
}
#foot{
    height: 213px;
    width: 484px;
    margin-left: 358px;
    margin-right: 358px;
    margin-top: 158px;
}
#Icons{
    width: 170px;
    height: 32px;
    margin-left: 157px;
    margin-right: 157px;
    margin-top: 20px;
}
#Icons img{
    height: 32px;
    width: 32px;
}

